## Tuple:
1. Tuples can be created using ()
2. Tuples are immutable
3. Tuple can contain heterogenous values
4. It allows duplicate values
5. Tuples are indexed and ordered

In [3]:
tup1 = (456,34.67,"abc")
type(tup1)
x,y,z = tup1
print(x)
print(y)
print(z)

456
34.67
abc

In [ ]:
x,y,z = 12,23,34

In [2]:
#By default it considers tuple
x = 1,2,3
type(x)

tuple

In [5]:
#Adding elements to tuple
tup1 = (34,23,12)
tup2 = (56,78)
tup1 = tup1+tup2
print(tup1)

(34, 23, 12, 56, 78)

## Built-in methods:
1. count()
2. index()

In [6]:
tup1.count(12)

1

In [7]:
tup1.index(12)

2

In [52]:
#Tuple with single value
tup3 = (10)
print(type(tup3))
tup3 = (10,)
print(type(tup3))

<class 'int'>
<class 'tuple'>

## set
1. all the elements are enclosed with {}
2. sets are unordered and unindexed
3. sets does not allows duplicate values
4. we can store heteregenous type values in set

In [12]:
s1 = {334,56,34,34}
print(s1)

{56, 34, 334}

### Buit-in methods
1. add
2. clear
3. copy
4. difference
5. difference_update
6. discard
7. intersection
8. intersection_update
9. isdisjoint
10. issubset
11. issuperset
12. pop
13. remove
14. symmetric_difference
15. symmetric_difference_update
16. union

In [13]:
s1.add(100)
print(s1)

{56, 34, 100, 334}

In [17]:
a = {1,2,3}
b = {3,4,5}
s = {1,2,3,4,5}
print(a.difference(b))#a-b
print(b.difference(a))#b-a
print(a.intersection(b))
print(a.union(b))

{1, 2}
{4, 5}
{3}
{1, 2, 3, 4, 5}

In [21]:
print(a.issubset(s))
print(s.issuperset(a))
print(b.issubset(a))
print(a.isdisjoint(b))

True
True
False
False

In [27]:
a = {1,2,3}
b = {3,4,5}
print(b.difference_update(a))
print(a,b)

None
{1, 2, 3} {4, 5}

In [38]:
a = {1,2,3}
b = {3,4,5}
a.update(b)
print(a,b)

{1, 2, 3, 4, 5} {3, 4, 5}

In [40]:
a = {1,2,3}
b = {3,4,5}
a.symmetric_difference(b)

{1, 2, 4, 5}

In [41]:
a = {1,2,3}
b = {3,4,5}
a.symmetric_difference_update(b)
print(a,b)

{1, 2, 4, 5} {3, 4, 5}

In [42]:
a = {1,2,3}
a.discard(3)
print(a)

{1, 2}

## Dictionary
##### syntax: name = {key1:value1,key2:value2,.....}
key-value pair -->entry
##### keys:
1. keys should be unique
2. keys should be immutable(numerics,string and tuple)

In [28]:
dict1 = {"name":"preeti","place":"hyd","name":"abc"}
print(dict1)

{'name': 'abc', 'place': 'hyd'}

In [29]:
#Adding entries
dict1["course"] = "python"
print(dict1)

{'name': 'abc', 'place': 'hyd', 'course': 'python'}

In [30]:
#Updating an entry
dict1["place"] = "banglore"
print(dict1)

{'name': 'abc', 'place': 'banglore', 'course': 'python'}

In [31]:
#Removing an entry
del dict1["name"]
print(dict1)

{'place': 'banglore', 'course': 'python'}

## Built-in methods:
1. clear
2. copy
3. fromkeys
4. get
5. items
6. keys
7. pop
8. popitem
9. setdefault
10. update
11. values

In [32]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['place', 'course'])
dict_values(['banglore', 'python'])
dict_items([('place', 'banglore'), ('course', 'python')])

In [33]:
dict1.get("place")

'banglore'

In [57]:
dict1 = {"name":"preeti","place":"hyd","course":"python"}
print(dict1)
dict1.pop("course")
print(dict1)

{'name': 'preeti', 'place': 'hyd', 'course': 'python'}
{'name': 'preeti', 'place': 'hyd'}

In [58]:
dict1.popitem()

('place', 'hyd')

### Questions on loops:

In [35]:
#else block with while loop
n = 10
i = 1
while i<=n:
    print(i,end=" ")
    i+=1
else:
    print("else block")

1 2 3 4 5 6 7 8 9 10 else block

In [44]:
#Accept a number as an input and check whether the 
# given number is palindrome or not
n = int(input())
temp = n
rev = 0
while n!=0:
    rev = rev*10 + (n%10)
    n = n//10
if temp == rev:
    print("palindrome")
else:
    print("not palindrome")

121
palindrome

In [46]:
if str(n)==str(n)[::-1]:
    print("palindrome")

palindrome

In [49]:
#Accept a number and print sum of even digits in the given numbe
n = int(input())
s = 0
while n!=0:
    r = n%10
    if r%2==0:
        s += r
    n //= 10
print(s)

123456
12

In [51]:
n = int(input())
for i in range(1,n+1):
    if i%3==0 and i%5==0:
        print("fizzbuzz",end=" ")
    elif i%3==0:
        print("fizz",end=" ")
    elif i%5==0:
        print("buzz",end=" ")
    else:
        print(i,end=" ")

20
1 2 fizz 4 buzz fizz 7 8 fizz buzz 11 fizz 13 14 fizzbuzz 16 17 fizz 19 buzz

## Questions for practice:
1. Accept a number as an input and print factors of the given number
2. Accept a number as an input and check whether the given number is perfect or not?
    -input:6(1+2+3=6)
    -output:YES
3. Accept a number as an input and print factorial of the given number
4. Accept a number as an input and check whether the given number is strong number or not
    -input : 145
    -output : yes
    explanation : 1!+4!+5!=1+24+120=145
5. Accept a number as an input and check whether the given number is armstrong number or not